In [1]:
import pandas as pd
import numpy as np
from batting_order import *
import warnings
warnings.filterwarnings('ignore')

## Scraping data for 2018

In [2]:
season = 2018
season_page_url = f"https://www.baseball-reference.com/leagues/MLB/{str(season)}.shtml"
season_df_2018 = get_season_pa(season_page_url)

Season: 2018

Team: TEX
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: OAK
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: BAL
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: SEA
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: LAD
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
163 Games in Total

Team: LAA
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: STL
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: TBR
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: COL
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
163 Games in Total

Team: KCR
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: MIN
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: NYY
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: SFG
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: BOS
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: MIA
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
161 Games in Total

Team: ATL
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: SDP
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: MIL
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
163 Games in Total

Team: TOR
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: PHI
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: WSN
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: CLE
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: CHC
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
163 Games in Total

Team: CIN
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: ARI
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: PIT
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
161 Games in Total

Team: DET
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: NYM
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: CHW
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: HOU
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

## Check the quality of data

In [4]:
# Save the data
season_df_2018.to_csv('season_scraped/2018.csv', index=False)

In [5]:
# Read the data
season_val_2018 = pd.read_csv("season_val/2018.csv")
season_scraped_2018 = pd.read_csv("season_scraped/2018.csv")

In [6]:
# Check how many teams
len(set(season_scraped_2018.Team.values))

30

In [7]:
# Cross validate
team_2018_merge = season_scraped_2018.groupby(by="Team")\
                                     .PA.sum().reset_index()\
                                     .merge(season_val_2018[["Tm", 'PA']].rename(columns = {'Tm':'Team', 
                                                                                            'PA':'PA_val'}))
team_2018_merge["diff"] = team_2018_merge.PA - team_2018_merge.PA_val
team_2018_merge

   Team    PA  PA_val  diff
0   ARI  6157    6157     0
1   ATL  6251    6251     0
2   BAL  6034    6034     0
3   BOS  6302    6302     0
4   CHC  6369    6369     0
5   CHW  6071    6071     0
6   CIN  6240    6240     0
7   CLE  6300    6300     0
8   COL  6178    6178     0
9   DET  6029    6029     0
10  HOU  6146    6146     0
11  KCR  6063    6063     0
12  LAA  6108    6108     0
13  LAD  6358    6358     0
14  MIA  6083    6083     0
15  MIL  6210    6210     0
16  MIN  6154    6154     0
17  NYM  6177    6177     0
18  NYY  6271    6271     0
19  OAK  6255    6255     0
20  PHI  6136    6136     0
21  PIT  6066    6066     0
22  SDP  6059    6059     0
23  SEA  6087    6087     0
24  SFG  6113    6113     0
25  STL  6200    6200     0
26  TBR  6195    6195     0
27  TEX  6163    6163     0
28  TOR  6076    6076     0
29  WSN  6288    6288     0

In [8]:
team_2018_merge['diff'].sum()

0