In [1]:
import pandas as pd
import numpy as np
from batting_order import *
import warnings
warnings.filterwarnings('ignore')

## Scraping data for 2019

In [3]:
season = 2019
season_page_url = f"https://www.baseball-reference.com/leagues/MLB/{str(season)}.shtml"
season_df_2019 = get_season_pa(season_page_url)

Season: 2019

Team: CLE
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: WSN
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: SDP
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: COL
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: LAD
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: BOS
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: CIN
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: NYM
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: SFG
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: ATL
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: TOR
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: PHI
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: SEA
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: CHC
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: MIN
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: MIL
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: MIA
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: PIT
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: TBR
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: KCR
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: LAA
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: TEX
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: DET
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
161 Games in Total

Team: HOU
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: STL
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: ARI
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: OAK
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: BAL
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: NYY
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total

Team: CHW
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
161 Games in Total

## Check the quality of data

In [4]:
# Save the data
season_df_2019.to_csv('season_scraped/2019.csv', index=False)

In [5]:
# Read the data
season_val_2019 = pd.read_csv("season_val/2019.csv")
season_scraped_2019 = pd.read_csv("season_scraped/2019.csv")

In [6]:
# Check how many teams
len(set(season_scraped_2019.Team.values))

30

In [7]:
# Cross validate
team_2019_merge = season_scraped_2019.groupby(by="Team")\
                                     .PA.sum().reset_index()\
                                     .merge(season_val_2019[["Tm", 'PA']].rename(columns = {'Tm':'Team', 
                                                                                            'PA':'PA_val'}))
team_2019_merge["diff"] = team_2019_merge.PA - team_2019_merge.PA_val
team_2019_merge

   Team    PA  PA_val  diff
0   ARI  6315    6315     0
1   ATL  6302    6302     0
2   BAL  6189    6130    59
3   BOS  6475    6475     0
4   CHC  6195    6195     0
5   CHW  6042    6042     0
6   CIN  6100    6100     0
7   CLE  6124    6124     0
8   COL  6288    6288     0
9   DET  6039    6039     0
10  HOU  6394    6394     0
11  KCR  6080    6080     0
12  LAA  6251    6251     0
13  LAD  6282    6282     0
14  MIA  6045    6045     0
15  MIL  6309    6309     0
16  MIN  6392    6392     0
17  NYM  6290    6296    -6
18  NYY  6245    6245     0
19  OAK  6269    6270    -1
20  PHI  6261    6261     0
21  PIT  6228    6228     0
22  SDP  6019    6019     0
23  SEA  6199    6248   -49
24  SFG  6170    6170     0
25  STL  6167    6167     0
26  TBR  6285    6285     0
27  TEX  6204    6204     0
28  TOR  6091    6095    -4
29  WSN  6267    6267     0

In [8]:
team_2019_merge['diff'].sum()

-1

Seems the numbers of Baltimore and Seattle are way off. Let's use the `FanGraphs` data to double-check.

In [18]:
season_val_fg_2019 = pd.read_csv("season_val/2019_fg.csv")
season_val_fg_2019['Team'] = [
    'HOU', 'LAD', 'NYY', 'MIN', 'OAK', 'BOS', 'ATL', 'WSN', 'CHC', 'MIL', 
    'NYM', 'ARI', 'TBR', 'STL', 'PHI', 'LAA', 'CLE', 'SEA', 'SDP', 'TOR',
    'CIN', 'CHW', 'PIT', 'COL', 'SFG', 'KCR', 'TEX', 'BAL', 'MIA', 'DET'   
]

In [20]:
team_2019_merge_fg = team_2019_merge.merge(season_val_fg_2019[['Team','PA']], on = 'Team')
team_2019_merge_fg['diff_xy'] = team_2019_merge_fg['PA_x'] - team_2019_merge_fg['PA_y']
team_2019_merge_fg

   Team  PA_x  PA_val  diff  PA_y  diff_xy
0   ARI  6315    6315     0  6315        0
1   ATL  6302    6302     0  6302        0
2   BAL  6189    6130    59  6189        0
3   BOS  6475    6475     0  6475        0
4   CHC  6195    6195     0  6195        0
5   CHW  6042    6042     0  6042        0
6   CIN  6100    6100     0  6100        0
7   CLE  6124    6124     0  6124        0
8   COL  6288    6288     0  6288        0
9   DET  6039    6039     0  6039        0
10  HOU  6394    6394     0  6394        0
11  KCR  6080    6080     0  6080        0
12  LAA  6251    6251     0  6251        0
13  LAD  6282    6282     0  6281        1
14  MIA  6045    6045     0  6045        0
15  MIL  6309    6309     0  6309        0
16  MIN  6392    6392     0  6392        0
17  NYM  6290    6296    -6  6290        0
18  NYY  6245    6245     0  6245        0
19  OAK  6269    6270    -1  6269        0
20  PHI  6261    6261     0  6261        0
21  PIT  6228    6228     0  6228        0
22  SDP  6019    6019     0  6019        0
23  SEA  6199    6248   -49  6199        0
24  SFG  6170    6170     0  6170        0
25  STL  6167    6167     0  6167        0
26  TBR  6285    6285     0  6285        0
27  TEX  6204    6204     0  6204        0
28  TOR  6091    6095    -4  6091        0
29  WSN  6267    6267     0  6267        0

Only LAD has difference.

In [21]:
anomaly_dict = {'LAD':['2019', 'Los Angeles Dodgers']}

In [22]:
for key in anomaly_dict.keys():
    season, team_title = anomaly_dict[key]
    team_page_url = f"https://www.baseball-reference.com/teams/{key}/{season}.shtml"
    game_pages = get_game_page(team_page_url)
    sum_pa = 0
    count = 0
    print(f'{key} {season}')
    for game_page in game_pages:
        _, pa_table = get_info(game_page, team_title) 
        team_actual_pa = get_val_pa(pa_table)
        sum_pa += team_actual_pa
        count += 1
        if count % 30 == 0:
            print(f"{count} Games Done")
    print(f'{count} Games in Total')
    print(f'Total PA: {sum_pa}\n')

LAD 2019
30 Games Done
60 Games Done
90 Games Done
120 Games Done
150 Games Done
162 Games in Total
Total PA: 6282